<div class="info-wrapper vapor-card">

    <h1 class="vapor-title">Informaci贸n de la aplicaci贸n</h1>

    <p class="info-text">
        Esta aplicaci贸n permite a los usuarios registrarse, iniciar sesi贸n y acceder a contenido protegido.
    </p>

</div>
