<div class="register-wrapper vapor-card">

    <h2 class="vapor-title">Registro</h2>

    <% if (errorRegister) { %>
        <p class="error-msg"><%= errorRegister %></p>
    <% } %>

    <form action="/register" method="POST" class="vapor-form">

        <label for="nick">Nick:</label>
        <input type="text" id="nick" name="nick" required>

        <label for="username">Nombre real:</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit" class="btn btn-primary">Crear cuenta</button>

    </form>

</div>
